[submodule "webutil"]
	path = webutil
	url = git@github.com:snarfed/webutil.git
[submodule "django-salmon"]
	path = django-salmon
	url = git://github.com/snarfed/django-salmon.git
[submodule "python-dateutil"]
	path = python-dateutil
	url = git://github.com/paxan/python-dateutil.git
