<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>WebFinger for {{ domain }}</title>
</head>

<body style="max-width: 700px">
<h1>WebFinger for {{ domain }}</h1>

<a href="http://code.google.com/p/webfinger/">
  <img style="float: right; width: 180px" src="/static/pointing_finger.png" /></a>

<p>This is an unofficial
  <a href="http://code.google.com/p/webfinger/">WebFinger</a> server
  for <a href="http://{{ domain }}/">{{ domain }}</a>. It serves these endpoints:</p>
<ul>
  <li><code>https://{{ host }}/.well-known/host-meta</code></li>
  <li><code>https://{{ host }}/.well-known/webfinger?resource={uri}</code></li>
  <li><code>https://{{ host }}/user?uri={uri}</code></li>
</ul>
<p>The user URI is <code>acct:<i>username</i>@{{ domain }}</code>,
  where <i>username</i> is a username or user id. See the
  <a href="http://code.google.com/p/webfinger/wiki/WebFingerProtocol">WebFinger docs</a>
  for usage details.</p>

<p>Source: <a href="https://github.com/snarfed/webfinger-unofficial">github.com/snarfed/webfinger-unofficial</a></p>

<p>Questions? Contact <a href="http://snarfed.org/about">Ryan</a> or the
<a href="http://groups.google.com/group/webfinger/">WebFinger
mailing list</a>.</p>

</body>
</html>

